@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  height: 100%;

  /* font-size: 2rem; */
  text-transform: lowercase;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-family: 'area-inktrap', sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* h1 {
font-family: 'area-variable', 'sigurd-variable', 'area', 'area-inktrap', 'sigurd', 'sigurd-semi',
  sans-serif;
font-variation-settings:
  'INKT' 100,
  'slnt' 0,
  'wdth' 100,
  'wght' 500;
} */

/* .heading {
  font-size: 24px;
  /* background-color: #9bbce3;
}

.heading::after {
  content: '';
  height: 100%;
  display: inline-block;
} */

a,
.heading {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;

  /* height: 100%; */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
